{% trans_default_domain 'SleepnessUberTranslationBundle' %}

<div class="row">

    <div class="col-md-1">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="true">
                {{ 'filters.locales'|trans }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {% for locale in locales %}
                    <form method="get" class="uber-locale-filter-form">
                        <div class="input-group">
                            <input type="hidden" value="{{ locale }}" name="locale" required>
                            <button type="submit">{{ locale }}</button>
                        </div>
                    </form>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-3 pull-right">
        <form method="get">
            <div class="input-group">
                <input class="form-control" id="system-search" name="domain" placeholder="{{ 'filters.search.by_domain'|trans }}" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="col-md-3 pull-right">
        <form method="get">
            <div class="input-group">
                <input class="form-control" id="system-search" name="key" placeholder="{{ 'filters.search.by_key'|trans }}" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="col-md-3 pull-right">
        <form method="get">
            <div class="input-group">
                <input class="form-control" id="system-search" name="text" placeholder="{{ 'filters.search.by_text'|trans }}" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

</div>
