{% trans_default_domain 'SleepnessUberTranslationBundle' %}

{{ form_errors(form) }}

<form method="post" {{ form_enctype(form) }} role="form">

    <div class="form-group">
        <div style="margin-bottom: 25px" class="input-group">
            <label for="TranslationInput">{{ 'translation_form.label'|trans }}</label>
            <div class="input-group">
                {{ form_widget(form.translation, {'attr': {'class': 'form-control'} } ) }}
            </div><br />
            <a href="#" class="btn btn-success" id="btn_edit_translation" data-toggle="modal" data-target="#save" data-placement="top">{{ 'translation_form.save'|trans }}</a>
        </div>
    </div>

    <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">{{ 'edit_modal.title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning">
                        <p>
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            {{ 'edit_modal.confirm_message'|trans }}
                        </p>
                        <p>
                            {{ 'edit_modal.from'|trans }}: "{{ message }}"
                        </p>
                        <p>
                            {{ 'edit_modal.to'|trans }}: "<span id="edited_translation"></span>"
                        </p>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="submit" value="Yes" class="btn btn-success" name="submit">
                        <i class="glyphicon glyphicon-ok-sign"></i>  {{ 'edit_modal.approve'|trans }}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>  {{ 'edit_modal.reject'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}

</form>
