{% trans_default_domain 'SleepnessUberTranslationBundle' %}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{ 'table.total'|trans }}: {{ messages.getTotalItemCount }}</div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'table.locale'|trans }}</th>
                <th>{{ 'table.domain'|trans }}</th>
                <th>{{ 'table.key'|trans }}</th>
                <th>{{ 'table.messages'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for key, message in messages %}
            <tr>
                <td>{{ message.messageProps.locale }}</td>
                <td>{{ message.domain }}</td>
                <td>{{ message.keyYml }}</td>
                <td>{{ message.messageProps.messageText }}</td>
                <td>
                    <a href="{{ path('sleepness_translation_edit', {
                    'localeKey': message.messageProps.locale,
                    '_domain': message.domain,
                    '_key': message.keyYml  }) }}" class="glyphicon glyphicon-pencil">
                    </a>
                    <a href="#" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#delete{{ key }}" data-placement="top">
                    </a>
                    <div class="modal fade" id="delete{{ key }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title custom_align" id="Heading">{{ 'delete_modal.title'|trans }}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        {{ 'delete_modal.alert_message'|trans }}
                                    </div>
                                    <div class="alert alert-warning">
                                        <p>
                                            <span class="glyphicon glyphicon-warning-sign"></span>
                                            {{ 'delete_modal.confirm_message'|trans }}
                                        </p>
                                        <p>{{ 'table.locale'|trans }}: "{{ message.messageProps.locale }}"</p>
                                        <p>{{ 'table.domain'|trans }}: "{{ message.domain }}"</p>
                                        <p>{{ 'table.key'|trans }}: "{{ message.keyYml }}"</p>
                                        <p>{{ 'table.messages'|trans }}: "{{ message.messageProps.messageText }}"</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('sleepness_translation_delete', {
                                    'localeKey': message.messageProps.locale,
                                    '_domain': message.domain,
                                    '_key': message.keyYml  }) }}" class="btn btn-success">
                                        <span class="glyphicon glyphicon-ok-sign"></span> {{ 'delete_modal.approve'|trans }}
                                    </a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        <span class="glyphicon glyphicon-remove"></span> {{ 'delete_modal.reject'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(messages, 'SleepnessUberTranslationBundle:Translation:pagination_template.html.twig') }}
</div>
