<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Translations</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Key</th>
            <th>Messages</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.domain }}</td>
                <td>{{ message.keyYml }}</td>
                {% for part in message.messages %}
                    <td>
                        <a href="{{ path('sleepness_translation_edit', {
                        '_locale': part.locale,
                        '_domain': message.domain,
                        '_key': message.keyYml  }) }}" class="glyphicon glyphicon-pencil">
                            Edit
                        </a>
                        {{ part.messageText }}
                        {{ part.locale }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(messages) }}
</div>
