{% trans_default_domain 'SleepnessUberTranslationBundle' %}

<div class="panel panel-default">
    <div class="panel-heading">{{ 'table.credentials'|trans }}</div>
    <table class="table table-striped table-bordered detail-view">
        <tbody>
            <tr>
                <th>{{ 'table.key'|trans }}:</th>
                <td>"{{ key }}"</td>
            </tr>
            <tr>
                <th>{{ 'table.locale'|trans }}:</th>
                <td>"{{ locale }}"</td>
            </tr>
            <tr>
                <th>{{ 'table.domain'|trans }}:</th>
                <td>"{{ domain }}"</td>
            </tr>
            <tr>
                <th>{{ 'table.messages'|trans }}:</th>
                <td>"{{ message }}"</td>
            </tr>
        </tbody>
    </table>
</div>
